.container{
    position: relative;
    display: block;
    margin: 0 auto;

}

.card{
    /* display: flex;
    justify-self: baseline;
    min-height: 15vh !important;
    min-width: 15% !important;
    max-width: 20% !important; */
}

.card img{
    min-height: 20vh !important;
    min-width: 20% !important;
    max-width: 25% !important;
    margin: 0 auto;
}